<!-- navbar.component.html -->
<header class="navbar">
    <div class="navbar-container">
      <!-- Logo Section -->
      <div class="logo"> 
        <h2>{{this.appName}}</h2>
      </div>
  
      <!-- Navigation Links Section -->
      <nav class="nav-links">
        <!-- <button class="link-button" (click)="homeClicked('home')">{{this.home}}</button>
        <button class="link-button" (click)="homeClicked('about')">{{this.about}}</button>
        <button class="link-button" (click)="homeClicked('contact')">{{this.contact}}</button> -->
      </nav>
  
      <!-- User Actions (Logout Button) -->
      <div class="user-actions">
        <button class="logout-btn" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>
  